---
- name: Resolve platform specific vars
  ansible.builtin.include_vars: '{{ item }}'
  with_first_found:
    - files:
        - '{{ ansible_facts["distribution"] }}-{{ ansible_facts["distribution_release"] }}.yml'
        - '{{ ansible_facts["distribution"] }}.yml'
        - '{{ ansible_facts["os_family"] }}.yml'
      skip: true
      paths:
        - '{{ role_path }}/vars'
- name: Downloading {{ cluster_api_url }} to {{ cluster_api_exe }}
  become: true
  become_user: root
  ansible.builtin.get_url:
    url: '{{ cluster_api_url }}'
    dest: '{{ cluster_api_exe }}'
    checksum: '{{ cluster_api_checksum }}'
    mode: '755'
- name: Linking {{ cluster_api_link }} to {{ cluster_api_exe }}
  become: true
  become_user: root
  ansible.builtin.file:
    src: '{{ cluster_api_exe }}'
    dest: '{{ cluster_api_link }}'
    state: link
